node_modules
.DS_Store
dist
.vite
coverage
*.log
.idea
.cursor

# Compiled files
*.js
!vite.config.js
!vite.config.*.js
*.js.map
*.d.ts
!src/**/*.d.ts
tsconfig*.tsbuildinfo

# Exclude compiled JS files in src directory
src/**/*.js
