.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  max-height: 60vh;
  padding-right: 0.5rem;
}

@media (min-width: 960px) {
  .list {
    max-height: 70vh;
  }
}
